.card{
    width: 45vh;
    height: 52vh;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    position: relative;
    padding-top: 1rem;
}

.content_title h4, .content_desc p{
    color: #fff;
}
.content_title h4, .content_desc p{
    margin-top: 10px;
}

.container .content{
    text-align: center;
    padding: 12px;
}

.content_btn i {
    background-color: #FF725E;
    color: #fff;
    padding: 6px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}